# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
# created-by: conda 25.9.0
# Note: This is a conda requirements file (MatchSpec format)
# Contains conda package specifications, not pip requirements

conda-forge::_libgcc_mutex==0.1=conda_forge
conda-forge::_openmp_mutex==4.5=2_gnu
pkgs/main::adwaita-icon-theme==48.0=h06a4308_0
conda-forge::ansi2html==1.9.2=py313h78bf25f_2
pkgs/main::anyio==4.6.2=py313h06a4308_0
pkgs/main::argon2-cffi==21.3.0=pyhd3eb1b0_0
pkgs/main::argon2-cffi-bindings==21.2.0=py313h5eee18b_1
pkgs/main::arrow==1.3.0=py313h06a4308_0
pkgs/main::arviz==0.21.0=py313h06a4308_0
conda-forge::asteval==1.0.6=pyhd8ed1ab_0
conda-forge::asttokens==3.0.0=pyhd8ed1ab_1
pkgs/main::async-lru==2.0.4=py313h06a4308_0
pkgs/main::at-spi2-atk==2.34.2=hdb5d850_0
pkgs/main::at-spi2-core==2.36.0=hdb5d850_1
pkgs/main::atk-1.0==2.36.0=ha1a6a79_0
pkgs/main::attrs==24.3.0=py313h06a4308_0
pkgs/main::babel==2.16.0=py313h06a4308_0
pkgs/main::beautifulsoup4==4.12.3=py313h06a4308_0
conda-forge::bigtree==0.23.1=pyhd8ed1ab_0
conda-forge::biopython==1.85=py313h536fd9c_1
pkgs/main::blas==1.0=mkl
pkgs/main::bleach==6.2.0=py313h06a4308_0
pkgs/main::boost-cpp==1.82.0=hdb19cb5_2
pkgs/main::bottleneck==1.4.2=py313hf0014fa_0
pkgs/main::brotli-python==1.0.9=py313h6a678d5_9
pkgs/main::bzip2==1.0.8=h5eee18b_6
pkgs/main::c-ares==1.19.1=h5eee18b_0
pkgs/main::ca-certificates==2025.2.25=h06a4308_0
conda-forge::cached-property==1.5.2=hd8ed1ab_1
conda-forge::cached_property==1.5.2=pyha770c72_1
pkgs/main::cairo==1.16.0=hb05425b_5
pkgs/main::certifi==2025.4.26=py313h06a4308_0
pkgs/main::cffi==1.17.1=py313h1fdaa30_1
pkgs/main::charset-normalizer==3.3.2=pyhd3eb1b0_0
conda-forge::click==8.2.0=pyh707e725_0
conda-forge::colorama==0.4.6=pyhd8ed1ab_1
conda-forge::comm==0.2.2=pyhd8ed1ab_1
pkgs/main::contourpy==1.3.1=py313hdb19cb5_0
pkgs/main::cycler==0.11.0=pyhd3eb1b0_0
pkgs/main::cyrus-sasl==2.1.28=h52b45da_1
pkgs/main::dbus==1.13.18=hb2f20db_0
conda-forge::debugpy==1.8.12=py313h46c70d0_0
conda-forge::decorator==5.1.1=pyhd8ed1ab_1
pkgs/main::defusedxml==0.7.1=pyhd3eb1b0_0
conda-forge::dill==0.3.9=pyhd8ed1ab_1
pkgs/main::epoxy==1.5.4=h7f8727e_2
conda-forge::exceptiongroup==1.2.2=pyhd8ed1ab_1
conda-forge::executing==2.1.0=pyhd8ed1ab_1
pkgs/main::expat==2.6.4=h6a678d5_0
pkgs/main::font-ttf-dejavu-sans-mono==2.37=hd3eb1b0_0
pkgs/main::font-ttf-inconsolata==2.001=hcb22688_0
pkgs/main::font-ttf-source-code-pro==2.030=hd3eb1b0_0
pkgs/main::font-ttf-ubuntu==0.83=h8b1ccd4_0
pkgs/main::fontconfig==2.14.1=h55d465d_3
pkgs/main::fonts-anaconda==1=h8fa9717_0
pkgs/main::fonts-conda-ecosystem==1=hd3eb1b0_0
pkgs/main::fonttools==4.55.3=py313h5eee18b_0
conda-forge::fqdn==1.5.1=pyhd8ed1ab_1
pkgs/main::freetype==2.12.1=h4a9f257_0
pkgs/main::fribidi==1.0.10=h7b6447c_0
conda-forge::future==1.0.0=pyhd8ed1ab_1
pkgs/main::gdk-pixbuf==2.42.10=h5eee18b_1
pkgs/main::gettext==0.21.0=hedfda30_2
pkgs/main::giflib==5.2.2=h5eee18b_0
pkgs/main::glib==2.78.4=h6a678d5_0
pkgs/main::glib-tools==2.78.4=h6a678d5_0
pkgs/main::gobject-introspection==1.78.1=py313h42194e9_2
pkgs/main::graphite2==1.3.14=h295c915_1
conda-forge::greenlet==3.2.2=py313h46c70d0_0
pkgs/main::gst-plugins-base==1.14.1=h6a678d5_1
pkgs/main::gstreamer==1.14.1=h5eee18b_1
pkgs/main::gtk3==3.24.21=h0fee60c_7
pkgs/main::gts==0.7.6=hb67d8dd_3
pkgs/main::h11==0.14.0=py313h06a4308_0
conda-forge::h5netcdf==1.5.0=pyhd8ed1ab_0
conda-forge::h5py==3.12.1=nompi_py313hff19e9a_103
pkgs/main::harfbuzz==10.2.0=hf296adc_0
conda-forge::hdf5==1.14.3=nompi_hdf9ad27_105
conda-forge::hdf5plugin==5.0.0=py313h386d306_2
pkgs/main::hicolor-icon-theme==0.17=h06a4308_2
pkgs/main::httpcore==1.0.2=py313h06a4308_0
pkgs/main::httpx==0.27.0=py313h06a4308_0
pkgs/main::icu==73.1=h6a678d5_0
pkgs/main::idna==3.7=py313h06a4308_0
conda-forge::importlib-metadata==8.6.1=pyha770c72_0
pkgs/main::importlib_resources==6.4.0=py313h06a4308_0
pkgs/main::intel-openmp==2023.1.0=hdb19cb5_46306
conda-forge::ipykernel==6.29.5=pyh3099207_0
conda-forge::ipython==8.32.0=pyh907856f_0
pkgs/main::ipywidgets==8.1.5=py313h06a4308_0
conda-forge::isoduration==20.11.0=pyhd8ed1ab_1
conda-forge::jedi==0.19.2=pyhd8ed1ab_1
pkgs/main::jinja2==3.1.5=py313h06a4308_0
pkgs/main::jpeg==9e=h5eee18b_3
pkgs/main::json5==0.9.25=py313h06a4308_0
pkgs/main::jsonpointer==2.1=pyhd3eb1b0_0
pkgs/main::jsonschema==4.23.0=py313h06a4308_0
pkgs/main::jsonschema-specifications==2023.7.1=py313h06a4308_0
conda-forge::jsonschema-with-format-nongpl==4.23.0=hd8ed1ab_1
conda-forge::jsonyx==1.2.1=py313h536fd9c_1
conda-forge::jupyter==1.1.1=pyhd8ed1ab_1
conda-forge::jupyter-cache==1.0.1=pyhff2d567_0
conda-forge::jupyter-lsp==2.2.5=pyhd8ed1ab_1
conda-forge::jupyter_client==8.6.3=pyhd8ed1ab_1
pkgs/main::jupyter_console==6.4.3=pyhd3eb1b0_0
conda-forge::jupyter_core==5.7.2=pyh31011fe_1
conda-forge::jupyter_events==0.12.0=pyh29332c3_0
conda-forge::jupyter_server==2.15.0=pyhd8ed1ab_0
pkgs/main::jupyter_server_terminals==0.4.4=py313h06a4308_1
pkgs/main::jupyterlab_pygments==0.1.2=py_0
conda-forge::jupyterlab_server==2.27.3=pyhd8ed1ab_1
pkgs/main::jupyterlab_widgets==3.0.13=py313h06a4308_0
pkgs/main::kiwisolver==1.4.8=py313h6a678d5_0
pkgs/main::krb5==1.20.1=h143b758_1
pkgs/main::lcms2==2.16=hb9589c4_0
pkgs/main::ld_impl_linux-64==2.40=h12ee557_0
pkgs/main::lerc==4.0.0=h6a678d5_0
pkgs/main::libabseil==20240116.2=cxx17_h6a678d5_0
conda-forge::libaec==1.1.3=h59595ed_0
pkgs/main::libboost==1.82.0=h109eef0_2
pkgs/main::libclang==14.0.6=default_hc6dbbc7_2
pkgs/main::libclang13==14.0.6=default_he11475f_2
pkgs/main::libcups==2.4.2=h2d74bed_1
pkgs/main::libcurl==8.11.1=hc9e6f67_0
pkgs/main::libdeflate==1.22=h5eee18b_0
pkgs/main::libedit==3.1.20230828=h5eee18b_0
pkgs/main::libev==4.33=h7f8727e_1
pkgs/main::libffi==3.4.4=h6a678d5_1
conda-forge::libgcc==14.2.0=h77fa898_1
conda-forge::libgcc-ng==14.2.0=h69a702a_1
pkgs/main::libgd==2.3.3=h695aa2c_1
conda-forge::libgfortran==14.2.0=h69a702a_1
conda-forge::libgfortran-ng==14.2.0=h69a702a_1
conda-forge::libgfortran5==14.2.0=hd5240d6_1
pkgs/main::libglib==2.78.4=hdc74915_0
conda-forge::libgomp==14.2.0=h77fa898_1
pkgs/main::libiconv==1.16=h5eee18b_3
pkgs/main::libllvm14==14.0.6=hecde1de_4
pkgs/main::libmpdec==4.0.0=h5eee18b_0
pkgs/main::libnghttp2==1.57.0=h2d74bed_0
pkgs/main::libpng==1.6.39=h5eee18b_0
pkgs/main::libpq==17.2=hdbd6064_0
pkgs/main::libprotobuf==4.25.3=he621ea3_0
pkgs/main::librsvg==2.56.3=hf6914bd_1
conda-forge::libsodium==1.0.18=h36c2ea0_1
pkgs/main::libssh2==1.11.1=h251f7ec_0
conda-forge::libstdcxx==14.2.0=hc0a3c3a_1
conda-forge::libstdcxx-ng==14.2.0=h4852527_1
pkgs/main::libtiff==4.5.1=hffd6297_1
pkgs/main::libtool==2.4.7=h6a678d5_0
pkgs/main::libuuid==1.41.5=h5eee18b_0
pkgs/main::libwebp==1.3.2=h11a3e52_0
pkgs/main::libwebp-base==1.3.2=h5eee18b_1
pkgs/main::libxcb==1.15=h7f8727e_0
pkgs/main::libxkbcommon==1.0.1=h097e994_2
pkgs/main::libxml2==2.13.5=hfdd30dd_0
conda-forge::libzlib==1.2.13=h4ab18f5_6
conda-forge::lmfit==1.3.2=pyhd8ed1ab_1
pkgs/main::lz4-c==1.9.4=h6a678d5_1
pkgs/main::markupsafe==3.0.2=py313h5eee18b_0
pkgs/main::matplotlib==3.10.0=py313h06a4308_0
pkgs/main::matplotlib-base==3.10.0=py313h68cf311_0
conda-forge::matplotlib-inline==0.1.7=pyhd8ed1ab_1
pkgs/main::mistune==2.0.4=py313h06a4308_0
pkgs/main::mkl==2023.1.0=h213fc3f_46344
pkgs/main::mkl-service==2.4.0=py313h5eee18b_2
pkgs/main::mkl_fft==1.3.11=py313h5eee18b_0
pkgs/main::mkl_random==1.2.8=py313h06d7b56_0
conda-forge::mplcursors==0.6=pyhd8ed1ab_1
pkgs/main::mysql==8.4.0=h29a9f33_1
pkgs/main::nbclient==0.8.0=py313h06a4308_0
pkgs/main::nbconvert-core==7.16.4=py313h06a4308_1
pkgs/main::nbformat==5.10.4=py313h06a4308_0
pkgs/main::ncurses==6.4=h6a678d5_0
conda-forge::nest-asyncio==1.6.0=pyhd8ed1ab_1
conda-forge::nexpy==1.0.10=pyhd8ed1ab_1
conda-forge::nexusformat==1.0.7=pyhd8ed1ab_1
pkgs/main::ninja==1.12.1=h06a4308_0
pkgs/main::ninja-base==1.12.1=hdb19cb5_0
conda-forge::notebook-shim==0.2.4=pyhd8ed1ab_1
pkgs/main::nspr==4.35=h6a678d5_0
pkgs/main::nss==3.89.1=h6a678d5_0
pkgs/main::numexpr==2.10.1=py313h3c60e43_0
pkgs/main::numpy==2.2.2=py313hf4aebb8_0
pkgs/main::numpy-base==2.2.2=py313h3fc9231_0
pkgs/main::openjpeg==2.5.2=he7f1fd0_0
pkgs/main::openldap==2.6.4=h42fbc30_0
conda-forge::openssl==3.4.0=h7b32b05_1
pkgs/main::overrides==7.4.0=py313h06a4308_0
pkgs/main::packaging==24.2=py313h06a4308_0
pkgs/main::pandas==2.2.3=py313h6a678d5_0
pkgs/main::pandocfilters==1.5.0=pyhd3eb1b0_0
pkgs/main::pango==1.50.7=h0fee60c_1
conda-forge::parso==0.8.4=pyhd8ed1ab_1
pkgs/main::patsy==1.0.1=py313h06a4308_0
pkgs/main::pcre2==10.42=hebb0a14_1
conda-forge::pexpect==4.9.0=pyhd8ed1ab_1
conda-forge::pickleshare==0.7.5=pyhd8ed1ab_1004
pkgs/main::pillow==11.1.0=py313hcea889d_0
pkgs/main::pip==24.2=py313h06a4308_0
pkgs/main::pixman==0.40.0=h7f8727e_1
conda-forge::platformdirs==4.3.6=pyhd8ed1ab_1
pkgs/main::ply==3.11=py313h06a4308_1
pkgs/main::poppler==24.09.0=hcf11d46_1
pkgs/main::poppler-data==0.4.11=h06a4308_1
pkgs/main::prometheus_client==0.13.1=pyhd3eb1b0_0
conda-forge::prompt-toolkit==3.0.50=pyha770c72_0
conda-forge::prompt_toolkit==3.0.50=hd8ed1ab_0
conda-forge::psutil==6.1.1=py313h536fd9c_0
conda-forge::ptyprocess==0.7.0=pyhd8ed1ab_1
conda-forge::pure_eval==0.2.3=pyhd8ed1ab_1
pkgs/main::pycparser==2.21=pyhd3eb1b0_0
conda-forge::pygments==2.19.1=pyhd8ed1ab_0
conda-forge::pylatexenc==2.10=pyhd8ed1ab_1
pkgs/main::pyparsing==3.2.0=py313h06a4308_0
pkgs/main::pyqt==5.15.10=py313h6a678d5_1
pkgs/main::pyqt5-sip==12.13.0=py313h5eee18b_1
conda-forge::pyqtgraph==0.14.0=pyhd8ed1ab_0
pkgs/main::pysocks==1.7.1=py313h06a4308_0
pkgs/main::python==3.13.1=hf623796_100_cp313
pkgs/main::python-dateutil==2.9.0post0=py313h06a4308_2
pkgs/main::python-fastjsonschema==2.20.0=py313h06a4308_0
pkgs/main::python-json-logger==3.2.1=py313h06a4308_0
pkgs/main::python-tzdata==2023.3=pyhd3eb1b0_0
pkgs/main::python_abi==3.13=0_cp313
pkgs/main::pytz==2024.1=py313h06a4308_0
pkgs/main::pyyaml==6.0.2=py313h5eee18b_0
conda-forge::pyzmq==26.2.0=py313h8e95178_1
pkgs/main::qt-main==5.15.2=hb6262e9_11
conda-forge::qtconsole==5.6.1=pyhd8ed1ab_1
conda-forge::qtconsole-base==5.6.1=pyha770c72_1
conda-forge::qtpy==2.4.2=pyhd8ed1ab_1
pkgs/main::readline==8.2=h5eee18b_0
pkgs/main::referencing==0.30.2=py313h06a4308_0
pkgs/main::requests==2.32.3=py313h06a4308_1
pkgs/main::rfc3339-validator==0.1.4=py313h06a4308_0
pkgs/main::rfc3986-validator==0.1.1=py313h06a4308_0
pkgs/main::rpds-py==0.22.3=py313h4aa5aa6_0
pkgs/main::scipy==1.15.1=py313hf4aebb8_0
conda-forge::seaborn==0.13.2=hd8ed1ab_3
conda-forge::seaborn-base==0.13.2=pyhd8ed1ab_3
pkgs/main::send2trash==1.8.2=py313h06a4308_1
pkgs/main::setuptools==72.1.0=py313h06a4308_0
conda-forge::setuptools-scm==8.1.0=pyhd8ed1ab_1
pkgs/main::sip==6.7.12=py313h6a678d5_1
pkgs/main::six==1.16.0=pyhd3eb1b0_1
pkgs/main::sniffio==1.3.0=py313h06a4308_0
pkgs/main::soupsieve==2.5=py313h06a4308_0
conda-forge::sqlalchemy==2.0.41=py313h536fd9c_0
pkgs/main::sqlite==3.45.3=h5eee18b_0
conda-forge::stack_data==0.6.3=pyhd8ed1ab_1
pkgs/main::statsmodels==0.14.4=py313h5eee18b_0
conda-forge::tabulate==0.9.0=pyhd8ed1ab_2
pkgs/main::tbb==2021.8.0=hdb19cb5_0
pkgs/main::terminado==0.17.1=py313h06a4308_0
pkgs/main::tinycss2==1.2.1=py313h06a4308_0
pkgs/main::tk==8.6.14=h39e8969_0
conda-forge::tomli==2.2.1=pyhd8ed1ab_1
pkgs/main::tornado==6.4.2=py313h5eee18b_0
conda-forge::traitlets==5.14.3=pyhd8ed1ab_1
conda-forge::typing-extensions==4.12.2=hd8ed1ab_1
conda-forge::typing_extensions==4.12.2=pyha770c72_1
pkgs/main::tzdata==2025a=h04d1e81_0
conda-forge::uncertainties==3.2.2=pyhd8ed1ab_2
conda-forge::uri-template==1.3.0=pyhd8ed1ab_1
pkgs/main::urllib3==2.3.0=py313h06a4308_0
conda-forge::watchdog==6.0.0=py313h78bf25f_2
conda-forge::wcwidth==0.2.13=pyhd8ed1ab_1
conda-forge::webcolors==24.11.1=pyhd8ed1ab_0
pkgs/main::webencodings==0.5.1=py313h06a4308_2
pkgs/main::websocket-client==1.8.0=py313h06a4308_0
pkgs/main::wheel==0.44.0=py313h06a4308_0
pkgs/main::widgetsnbextension==4.0.13=py313h06a4308_0
conda-forge::xarray==2025.1.2=pyhd8ed1ab_0
conda-forge::xarray-einstats==0.8.0=pyhd8ed1ab_1
pkgs/main::xz==5.4.6=h5eee18b_1
pkgs/main::yaml==0.2.5=h7b6447c_0
conda-forge::zeromq==4.3.5=h59595ed_1
conda-forge::zipp==3.21.0=pyhd8ed1ab_1
conda-forge::zlib==1.2.13=h4ab18f5_6
pkgs/main::zstd==1.5.6=hc292b87_0
